body {
    background-image: url('../images/background.png');
}

#welcome {
    background-image: url('../images/background.jpg');
    background-size: 100vw 100vh;
}

.container {
    height: 100vh;
}

#title {
    padding-top: 30%;
}
